body {
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #1f2937;
    padding-bottom: 5%;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    gap: 10px;

    a{
        text-decoration: none;
         color: #e5e7eb
    }
}

.hero{
    display: flex;
    justify-content: space-around;
    padding: 60px;
    flex: 1;
    gap: 20px ;


    .hero-text-container{
    max-width: 450px
}

   span {
    display: block;
   }

    .title{
        font-size: 48px;
        color: #f9faf8;
        font-weight: 900;
        margin-bottom: 8px;
    }

    .text{
        font-size: 18px;
        color: #E5E7EB
    }
}

.placeholder{
    background-color: #8e9196;
    padding: 10px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.button{
    background-color: #3882F6;
    padding: 10px 10%;
    border-radius: 15px;
    color: #fff;
    border: none;
    font-weight: bold;
}
